@*@model Assignment_4_Cloud_Project.Models.Supplier*@
@model IEnumerable<Assignment_4_Cloud_Project.Models.Supplier>


<h1>Data</h1>
<hr />

@foreach (var item in Model)
{
    <div>
        <h3>
            @Html.DisplayFor(modelItem => item.provider_name)
        </h3>
        <div>
            @Html.DisplayFor(modelItem => item.provider_street_address)
        </div>
        @Html.DisplayFor(modelItem => item.provider_zip_code)
        <div>
            @Html.DisplayFor(modelItem => item.total_discharges)
        </div>
    </div>
    <br />
}

<script>
alertDbSave(@ViewBag.dbSuccessComp);
</script>