
@{
    ViewData["Title"] = "Visualization";
}

@model IEnumerable<Assignment_4_Cloud_Project.Models.MedicalData>


<main>
    <section class="index-banner-4">
        <div class="vertical-center-4">
            @*<div class="section-title-4">Visualizations</div>*@
            <h4>Visualizations</h4>
            <div class="section-title-4">These Visualizations show state wise average payment and payment difference.</div>
        </div>

        <nav id="graph-nav">
            <ul>
                <li><a asp-controller="Home" asp-action="StateAveragePayments">State Wise Average Payment</a></li>
                <li><a asp-controller="Home" asp-action="StatePaymentDifference">State Wise Payment Difference</a></li>
            </ul>
        </nav>

        <div class="vertical-center-4">
            <div class="section-title-4">ERD Diagram</div>
            <div class="section-title-4">The ERD diagram for the database is as follows.</div>
        </div>

        <div class="vertical-center-3">
            <div class="section-title-3">
                <img class="section-title-3" src="~/img/erd-diagram.jpg" alt="alternative3">
            </div>
        </div>

        <div class="content" style="margin-top:10px; display:block;">
            <h2>@ViewBag.Title</h2>
            @*<ul>
                @foreach (string li in ViewBag.Desc)
                {
                    <li>@li</li>
                }
            </ul>*@
            <canvas id="chart"></canvas>
            <br />
            <div id="chart-table">
                <table id="table-only">
                    <thead>
                        <tr>
                            <th>
                                Average Covered Charges
                            </th>
                            <th>
                                Average Total Payments
                            </th>
                            <th>
                                Average Medicare Payments
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.average_covered_charges)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.average_medicare_payments)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.average_medicare_payments_2)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</main>

